<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">

    <link rel="stylesheet" href="../../resources/vendors/iconly/bold.css">

    <link rel="stylesheet" href="../../resources/vendors/choices.js/choices.min.css" />


    <link rel="stylesheet" href="../../resources/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../resources/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../../resources/css/app.css">
    <link rel="shortcut icon" href="../../resources/images/favicon.svg" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>









</head>

<body>

    <div id="app">
        <!-- 사이드바 시작 -->
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <!-- 로고, 주야간버튼 시작 -->
                <div class="sidebar-header position-relative" style="padding-left: 0%; padding-bottom: 0%;">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <a href="mainPage.html"><img src="../../resources/images/logo/okkh_logo.jpg" alt="Logo"
                                    srcset="" style="width:190px; height:100px;"></a>
                        </div>
                        <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                aria-hidden="true" role="img" class="iconify iconify--system-uicons" width="20"
                                height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">
                                <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path
                                        d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                                        opacity=".3"></path>
                                    <g transform="translate(-210 -1)">
                                        <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                                        <circle cx="220.5" cy="11.5" r="4"></circle>
                                        <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                            <div class="form-check form-switch fs-6">
                                <input class="form-check-input  me-0" type="checkbox" id="toggle-dark"
                                    style="cursor: pointer">
                                <label class="form-check-label"></label>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20"
                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z">
                                </path>
                            </svg>
                        </div>
                        <div class="sidebar-toggler  x">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <!-- 로고, 주야간버튼 끝 -->

                <!-- 메뉴바 시작 -->
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title" style="font-weight: bolder;">test Menu22w2</li>

                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Repositories</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Issues</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-puzzle"></i>
                                <span>Milestones</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="fa-solid fa-calendar fa-sm"></i>
                                <span>Callender</span>
                            </a>
                        </li>

                        <br><br>

                        <li class="sidebar-title" style="font-weight: bolder;">Community</li>

                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Recruit</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>PR</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="fa-solid fa-trophy fa-sm"></i>
                                <span>Project Output</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="fa-solid fa-user-group fa-sm"></i>
                                <span>Friends</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="fa-solid fa-comments fa-sm"></i>
                                <span>Chat</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 메뉴바 끝 -->
            </div>
        </div>
        <!-- 사이드바 끝 -->

            <!--메인시작-->
            <div id="main">
                <header class="mb-3 card">
                    <nav class="navbar navbar-expand navbar-light navbar-top">
                        <div class="container-fluid">
                            <!-- <a href="#" class="burger-btn d-block">
                                <i class="bi bi-justify fs-3"></i>
                            </a> -->
    
                            <h3 style="margin: 0%;">Main Home</h3>
    
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <c:choose>
                                <c:when test="${ not empty loginMember }">
    
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav ms-auto mb-lg-0">
                                            <li class="nav-item dropdown me-1">
                                                <a class="nav-link active dropdown-toggle text-gray-600" href="#"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class='bi bi-envelope bi-sub fs-4'></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="dropdownMenuButton">
                                                    <li>
                                                        <h6 class="dropdown-header">Mail</h6>
                                                    </li>
                                                    <li><a class="dropdown-item" href="#">No new mail</a></li>
                                                </ul>
                                            </li>
                                            <li class="nav-item dropdown me-3">
                                                <a class="nav-link active dropdown-toggle text-gray-600" href="#"
                                                    data-bs-toggle="dropdown" data-bs-display="static"
                                                    aria-expanded="false">
                                                    <i class='bi bi-bell bi-sub fs-4'></i>
                                                    <span class="badge badge-notification bg-danger">7</span>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end notification-dropdown"
                                                    aria-labelledby="dropdownMenuButton">
                                                    <li class="dropdown-header">
                                                        <h6>Notifications</h6>
                                                    </li>
                                                    <li class="dropdown-item notification-item">
                                                        <a class="d-flex align-items-center" href="#">
                                                            <div class="notification-icon bg-primary">
                                                                <i class="bi bi-cart-check"></i>
                                                            </div>
                                                            <div class="notification-text ms-4">
                                                                <p class="notification-title font-bold">Successfully check
                                                                    out</p>
                                                                <p class="notification-subtitle font-thin text-sm">Order ID
                                                                    #256</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="dropdown-item notification-item">
                                                        <a class="d-flex align-items-center" href="#">
                                                            <div class="notification-icon bg-success">
                                                                <i class="bi bi-file-earmark-check"></i>
                                                            </div>
                                                            <div class="notification-text ms-4">
                                                                <p class="notification-title font-bold">Homework submitted
                                                                </p>
                                                                <p class="notification-subtitle font-thin text-sm">Algebra
                                                                    math homework</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <p class="text-center py-2 mb-0"><a href="#">See all
                                                                notification</a></p>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                                <div class="user-menu d-flex">
                                                    <div class="user-name text-end me-3">
                                                        <h6 class="mb-0 text-gray-600">John Ducky</h6>
                                                        <p class="mb-0 text-sm text-gray-600">Administrator</p>
                                                    </div>
                                                    <div class="user-img d-flex align-items-center">
                                                        <div class="avatar avatar-md">
                                                            <img src="../../resources/assets/compiled/jpg/1.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton"
                                                style="min-width: 11rem;">
                                                <li>
                                                    <h6 class="dropdown-header">Hello, John!</h6>
                                                </li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="icon-mid bi bi-person me-2"></i> My
                                                        Profile</a></li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="icon-mid bi bi-gear me-2"></i>
                                                        Settings</a></li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="icon-mid bi bi-wallet me-2"></i>
                                                        Wallet</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="logout.me"><i
                                                            class="icon-mid bi bi-box-arrow-left me-2"></i> Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </c:when>
                                <c:otherwise>
                                    <!-- <a href="loginForm.me" class="btn btn-primary">로그인 해주세요.</a> -->
                                </c:otherwise>
                            </c:choose>
                        </div>
                    </nav>
                </header>

                <section class="section">
                    <div class="row" id="table-head">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Issue</h4>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary me-1 mb-1"
                                            style="width: 100px; float: right;"
                                            onclick="location.href='issueEnroll.html'">이슈등록</button>
                                    </div>
                                    <button class="btn btn-primary" id="allBtn">전체</button>
                                    <button class="btn btn-primary" id="continueBtn">진행중</button>
                                    <button class="btn btn-primary" id="finishBtn">진행완료</button>
                                </div>


                                <div class="card-content">
                                    <!-- table head dark -->
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>번호</th>
                                                    <th>제목</th>
                                                    <th>생성일</th>
                                                    <th>작성자</th>
                                                    <th>
                                                        <div class="row" style="margin-top: 8px;">
                                                            <div class="col-1" style="line-height: 50px;">라벨</div>
                                                            <div class="form-group col-11" style="width:500px;">

                                                                <select class="choices form-select multiple-remove"
                                                                    multiple="multiple">
                                                                    <optgroup label="Figures">
                                                                        <option value="bug">bug</option>
                                                                        <option value="documentation">documentation
                                                                        </option>
                                                                        <option value="duplicate">duplicate</option>
                                                                        <option value="enhancement">enhancement</option>
                                                                        <option value="goodFirstIssue">good first issue
                                                                        </option>
                                                                        <option value="helpWanted">help wanted</option>
                                                                        <option value="invalid">invalid</option>
                                                                        <option value="question">question</option>
                                                                        <option value="purwontfixple">wontfix</option>
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th>담당자</th>
                                                    <th>진행상태</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-bold-500">1</td>
                                                    <td class="text-bold-500"><a href="issueDetail.html"
                                                            style="color: black; font-weight: bold;">이슈페이지입니다1</a></td>
                                                    <td>2023-11-07</td>
                                                    <td class="text-bold-500">UI/UX</td>
                                                    <td>
                                                        <span class="badge bg-danger">bug</span>
                                                        <span class="badge bg-primary">documentation</span>
                                                        <span class="badge bg-secondary">duplicate</span>
                                                        <span class="badge bg-info">enhancement</span>
                                                        <span class="badge"
                                                            style="background-color: rgb(112, 87, 255);">good first
                                                            issue</span>
                                                        <span class="badge bg-success">help wanted</span>
                                                        <span class="badge bg-warning">invalid</span>
                                                        <span class="badge"
                                                            style="background-color: rgb(216, 118, 227);">question</span>
                                                        <span class="badge bg-light"
                                                            style="color: black;">wontfix</span>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="avatar-group">
                                                            <span class="avatar avatar-sm">
                                                                <img alt="avatar"
                                                                    src="https://img.sbs.co.kr/newsnet/etv/upload/2023/08/17/30000869319_1280.jpg"
                                                                    class="rounded-circle">
                                                            </span>
                                                            <span class="avatar avatar-sm">
                                                                <img alt="avatar"
                                                                    src="https://img.sbs.co.kr/newsnet/etv/upload/2023/08/17/30000869319_1280.jpg"
                                                                    class="rounded-circle">
                                                            </span>
                                                            <span class="avatar avatar-sm">
                                                                <img alt="avatar"
                                                                    src="https://img.sbs.co.kr/newsnet/etv/upload/2023/08/17/30000869319_1280.jpg"
                                                                    class="rounded-circle">
                                                            </span>
                                                            <span class="avatar avatar-sm avatar-primary">
                                                                <span
                                                                    class="avatar-initials rounded-circle fs-6">+5</span>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td id="continue">진행중</td>
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-light-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">2</td>
                                                    <td class="text-bold-500">이슈페이지입니다2</td>
                                                    <td>2023-11-07</td>
                                                    <td class="text-bold-500">Graphic concepts</td>
                                                    <td>Remote</td>
                                                    <td></td>
                                                    <td>진행중</td>
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-light-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">3</td>
                                                    <td class="text-bold-500">이슈페이지입니다3</td>
                                                    <td>2023-11-07</td>
                                                    <td class="text-bold-500">Animation</td>
                                                    <td>Remote</td>
                                                    <td></td>
                                                    <td>진행중</td>
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-light-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">4</td>
                                                    <td class="text-bold-500">이슈페이지입니다4</td>
                                                    <td>2023-11-07</td>
                                                    <td class="text-bold-500">Animation</td>
                                                    <td>Remote</td>
                                                    <td></td>
                                                    <td>진행중</td>
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-light-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">5</td>
                                                    <td class="text-bold-500">이슈페이지입니다5</td>
                                                    <td>2023-11-07</td>
                                                    <td class="text-bold-500">Animation</td>
                                                    <td>Remote</td>
                                                    <td></td>
                                                    <td>진행완료</td>
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-light-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">5</td>
                                                    <td class="text-bold-500">이슈페이지입니다5</td>
                                                    <td>2023-11-07</td>
                                                    <td class="text-bold-500">Animation</td>
                                                    <td>Remote</td>
                                                    <td></td>
                                                    <td id="continue">진행완료</td>
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-light-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">5</td>
                                                    <td class="text-bold-500">이슈페이지입니다5</td>
                                                    <td>2023-11-07</td>
                                                    <td class="text-bold-500">Animation</td>
                                                    <td>Remote</td>
                                                    <td></td>
                                                    <td>진행완료</td>
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-light-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">5</td>
                                                    <td class="text-bold-500">이슈페이지입니다5</td>
                                                    <td>2023-11-07</td>
                                                    <td class="text-bold-500">Animation</td>
                                                    <td>Remote</td>
                                                    <td></td>
                                                    <td>진행완료</td>
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-light-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">5</td>
                                                    <td class="text-bold-500">이슈페이지입니다5</td>
                                                    <td>2023-11-07</td>
                                                    <td class="text-bold-500">Animation</td>
                                                    <td>Remote</td>
                                                    <td></td>
                                                    <td>진행완료</td>
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-light-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">5</td>
                                                    <td class="text-bold-500">이슈페이지입니다5</td>
                                                    <td>2023-11-07</td>
                                                    <td class="text-bold-500">Animation</td>
                                                    <td>Remote</td>
                                                    <td></td>
                                                    <td>진행완료</td>
                                                    <td><a href="#"><i
                                                                class="badge-circle badge-circle-light-secondary font-medium-1"
                                                                data-feather="mail"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <footer>
                    <div class="footer clearfix mb-0 text-muted">
                        <div class="float-start">
                            <p>2021 &copy; Mazer</p>
                        </div>
                        <div class="float-end">
                            <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                    href="http://ahmadsaugi.com">A. Saugi</a></p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <script>
            $(function () {

                // 진행중 조회
                $("#continueBtn").click(function () {
                    if ($("#continue").text() === "진행중") {
                        $("tbody tr").hide();
                        $("tbody tr:has(td#continue:contains('진행중'))").show();
                    }
                })

                // 전체조회
                $("#allBtn").click(function () {
                    $("tbody tr").show();
                });

                // 진행완료 조회
                $("#finishBtn").click(function () {
                    $("tbody tr").hide();
                    $("tbody tr:has(td#continue:contains('진행완료'))").show();
                });
            });
        </script>



        <script src="../../resources/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="../../resources/js/bootstrap.bundle.min.js"></script>

        <script src="../../resources/vendors/apexcharts/apexcharts.js"></script>
        <script src="../../resources/js/pages/dashboard.js"></script>

        <script src="../../resources/js/main.js"></script>
        <script src="../../resources/vendors/choices.js/choices.min.js"></script>

        <script src="../../resources/js/main.js"></script>
</body>