<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">

    <link rel="stylesheet" href="../../resources/vendors/iconly/bold.css">

    <link rel="stylesheet" href="../../resources/vendors/choices.js/choices.min.css" />


    <link rel="stylesheet" href="../../resources/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../resources/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../../resources/css/app.css">
    <link rel="shortcut icon" href="../../resources/images/favicon.svg" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>








    
</head>

<body>
    
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="../../resources/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item  ">
                            <a href="index.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Home</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Components</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="component-alert.html">Alert</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>Extra Components</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="extra-component-avatar.html">Avatar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-sweetalert.html">Sweet Alert</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-toastify.html">Toastify</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-rating.html">Rating</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-divider.html">Divider</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Layouts</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="layout-default.html">Default Layout</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-vertical-1-column.html">1 Column</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-vertical-navbar.html">Vertical with Navbar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-horizontal.html">Horizontal Menu</a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
            <section class="section">
                <div class="row" id="table-head">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">마일스톤제목</h4>
                                <span>마감일</span> &nbsp;&nbsp;&nbsp;
                                <span>15% complete</span>
                                <div class="form-group">
                                    <button type="submit"
                                    class="btn btn-primary me-1 mb-1"
                                    style="width: 100px; float: right;"
                                    onclick="location.href='이슈등록.html'">이슈등록</button>
                                    <button type="submit"
                                            class="btn btn-primary me-1 mb-1"
                                            style="width: 150px; float: right;"
                                            onclick="location.href='마일스톤수정페이지.html'">마일스톤 편집</button>
                                </div>
                                <button class="btn btn-primary" id="allBtn">전체</button>
                                <button class="btn btn-primary" id="continueBtn">진행중</button>
                                <button class="btn btn-primary" id="finishBtn">진행완료</button>
                            </div>
                            
                            
                            <div class="card-content">
                                <!-- table head dark -->
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>번호</th>
                                                <th>제목</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-bold-500">1</td>
                                                <td class="text-bold-500"><a href="이슈상세페이지.html" style="color: black; font-weight: bold;">이슈페이지입니다1</a></td>
                                            </tr>
                                            <tr>
                                                <td class="text-bold-500">2</td>
                                                <td class="text-bold-500">이슈페이지입니다2</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script>
        $(function() {

            // 진행중 조회
            $("#continueBtn").click(function() {
                if($("#continue").text() === "진행중") {
                    $("tbody tr").hide();
                    $("tbody tr:has(td#continue:contains('진행중'))").show();
                }
            })

            // 전체조회
            $("#allBtn").click(function() {
                $("tbody tr").show();
            });

            // 진행완료 조회
            $("#finishBtn").click(function() {
                $("tbody tr").hide();
                $("tbody tr:has(td#continue:contains('진행완료'))").show();
            });
        });
    </script>



    <script src="../../resources/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>

    <script src="../../resources/vendors/apexcharts/apexcharts.js"></script>
    <script src="../../resources/js/pages/dashboard.js"></script>

    <script src="../../resources/js/main.js"></script>
    <script src="../../resources/vendors/choices.js/choices.min.js"></script>

    <script src="../../resources/js/main.js"></script>
</body>