<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">

    <link rel="stylesheet" href="../../resources/vendors/iconly/bold.css">

    <link rel="stylesheet" href="../../resources/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../resources/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../../resources/css/app.css">
    <link rel="shortcut icon" href="../../resources/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="main.html"><img src="../../resources/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title" style="font-weight: bolder;">Project Menu</li>

                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Repositories</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Issues</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-puzzle"></i>
                                <span>Milestones</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Callender</span>
                            </a>
                        </li>

                        <br><br>

                        <li class="sidebar-title" style="font-weight: bolder;">Community</li>

                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Recruit</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>PR</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>Project Output</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- [[[[[[[[[[ 메인시작 ]]]]]]]]]] -->
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>My Page</h3>
                            <p class="text-subtitle text-muted">A page where users can change profile information</p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="section">
                <div class="row">

                    <!-- [[[[[[[[[[ 프로필사진 ]]]]]]]]]] -->
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <div class="avatar avatar-2xl">
                                        <img src="../../resources/images/faces/7.jpg" alt="Avatar">
                                    </div>
                                    <button class="btn btn-primary my-3">Change Picture</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- [[[[[[[[[[ 회원정보 ]]]]]]]]]] -->
                    <div class="col-8">
                        <div class="card">
                            <div class="card-body">
                                <form action="#" method="get">
                                    <div class="form-group">
                                        <label for="name" class="form-label">NickName</label>
                                        <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" value="John Doe">
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="form-label">GithubEmail</label>
                                        <input type="text" name="email" id="email" class="form-control" placeholder="Your Email" value="john.doe@example.net">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="pr" class="form-label">Self-Introduction</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>            

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2023 &copy; OKKH</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by 오류없조</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="../../resources/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>

    <script src="../../resources/vendors/apexcharts/apexcharts.js"></script>
    <script src="../../resources/js/pages/dashboard.js"></script>

    <script src="../../resources/js/main.js"></script>
</body>

</html>