<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 템플릿 링크 시작 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OKKH</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">

    <link rel="stylesheet" href="../../resources/vendors/iconly/bold.css">

    <link rel="stylesheet" href="../../resources/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../resources/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../../resources/css/app.css">
    <link rel="shortcut icon" href="../../resources/images/favicon.svg" type="image/x-icon">
    <!-- /템플릿 링크 끝 -->
</head>

<body>
    <!-- 전체 div 시작 -->
    <div id="app">
        <!-- 사이드바 시작 -->
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <!-- 로고 시작 -->
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="../../resources/images/logo/okkh_logo.jpg" alt="Logo" srcset="" style="width:200px; height:100px;"></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /로고 끝 -->
                <!-- 메뉴 시작 -->
                <div class="sidebar-menu">
                    <ul class="menu">
                        <!-- 메뉴 카테고리 시작 -->
                        <li class="sidebar-title">Menu</li>
                        <!-- /메뉴 카테고리 끝 -->

                        <!-- 홈 시작 -->
                        <li class="sidebar-item active ">
                            <a href="index.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <!-- /홈 끝 -->

                        <!-- My Project 시작 -->
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-hexagon-fill"></i>
                                <span>My Project</span>
                            </a>
                            <!-- My Project 내의 요소 버튼 시작 -->
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="myRepositories.html">My Repositories</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="mySchedules.html">My Schedules</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-element-select.html">My Issues</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-element-select.html">My TeamMates</a>
                                </li>
                            </ul>
                            <!-- /My Project 내의 요소 버튼 끝 -->
                        </li>
                        <!-- /My Project 끝 -->

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-pen-fill"></i>
                                <span>Find Project</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="form-editor-quill.html">My Schedules</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-editor-ckeditor.html">Manage Schedule</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-editor-summernote.html">New Schedule</a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Find TeamMates</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="form-editor-quill.html">My Friends</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-editor-ckeditor.html">Manage Friends</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-editor-summernote.html">New Friend</a>
                                </li>
                            </ul>
                        </li>

                </div>
                <!-- /메뉴 끝 -->
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <!-- /사이드바 끝 -->
        <!-- 메인 시작 -->
        <div id="main">
            <!-- 헤더 시작 -->
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <!-- /헤더 끝 -->

            <!-- 페이지 제목 시작 -->
            <div class="page-heading">
                <h3 style="float: left; width: 69%;">My Repositories</h3>
                <a href="#" class="btn btn-primary" style="text-align: right;">추가하기</a>
            </div>
            <!-- /페이지 제목 끝 -->
            <!-- 컨텐츠 시작 -->
            <div class="page-content">
                <section class="row">
                    <!-- 레파지토리 리스트 시작 -->
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            <!-- 레파지토리 시작 -->
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <!-- <div class="stats-icon blue">
                                                    <i class="iconly-boldShow"></i>
                                                </div> -->
                                                <img src="../../resources/images/samples/java.png" alt="" width="50" height="50">
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Java</h6>
                                                <h6 class="font-extrabold mb-0">00_test-workspace</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /레파지토리 끝 -->
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <!-- <div class="stats-icon blue">
                                                    <i class="iconly-boldProfile"></i>
                                                </div> -->
                                                <img src="../../resources/images/samples/java.png" alt="" width="50" height="50">
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Java</h6>
                                                <h6 class="font-extrabold mb-0">01_java-workspace</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <!-- <div class="stats-icon green">
                                                    <i class="iconly-boldAdd-User"></i>
                                                </div> -->
                                                <img src="../../resources/images/samples/mysql.png" alt="" width="50" height="50">
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">SQL</h6>
                                                <h6 class="font-extrabold mb-0">02_oracle-workspace</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <!-- <div class="stats-icon red">
                                                    <i class="iconly-boldBookmark"></i>
                                                </div> -->
                                                <img src="../../resources/images/samples/html-language.png" alt="" width="50" height="50">
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">HTML</h6>
                                                <h6 class="font-extrabold mb-0">04_frontend-workspace</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <!-- <div class="stats-icon red">
                                                    <i class="iconly-boldBookmark"></i>
                                                </div> -->
                                                <img src="../../resources/images/samples/java.png" alt="" width="50" height="50">
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Java</h6>
                                                <h6 class="font-extrabold mb-0">08_spring-workspace</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /레파지토리 리스트 끝 -->
                    <!-- 우측 프로필바 시작 -->
                    <div class="col-12 col-lg-3">
                        <!-- 내 프로필 시작 -->
                        <div class="card">
                            <div class="card-body py-4 px-5">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xl">
                                        <img src="../../resources/images/faces/1.jpg" alt="Face 1">
                                    </div>
                                    <div class="ms-3 name">
                                        <h5 class="font-bold">윤과녁</h5>
                                        <h6 class="text-muted mb-0">@YoonTarget</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /내 프로필 끝 -->
                        <!-- /친구 리스트 시작 -->
                        <div class="card">
                            <!-- 친구 리스트 제목 시작 -->
                            <div class="card-header">
                                <h4>My TeamMates</h4>
                            </div>
                            <!-- /친구 리스트 제목 끝 -->
                            <!-- 친구 리스트 내용 시작 -->
                            <div class="card-content pb-4">
                                <!-- 친구 프로필 시작 -->
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <img src="../../resources/images/faces/4.jpg">
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">승준띠</h5>
                                        <h6 class="text-muted mb-0">@johnducky</h6>
                                    </div>
                                </div>
                                <!-- /친구 프로필 끝 -->
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <img src="../../resources/images/faces/5.jpg">
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">유정띠</h5>
                                        <h6 class="text-muted mb-0">@imdean</h6>
                                    </div>
                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <img src="../../resources/images/faces/1.jpg">
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">정묵띠</h5>
                                        <h6 class="text-muted mb-0">@dodoljohn</h6>
                                    </div>
                                </div>
                                <!-- 채팅 버튼 시작 -->
                                <div class="px-4">
                                    <button class='btn btn-block btn-xl btn-light-primary font-bold mt-3'>Start
                                        Conversation</button>
                                </div>
                                <!-- /채팅 버튼 끝 -->
                            </div>
                            <!-- /친구 리스트 내용 끝 -->
                        </div>
                        <!-- /친구 리스트 끝 -->
                        
                    </div>
                    <!-- /우측 프로필바 끝 -->
                </section>
            </div>
            <!-- /컨텐츠 끝 -->

            <!-- footer 시작 -->
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <!-- 설립일, 사명 시작 -->
                    <div class="float-start">
                        <p>2023 &copy; OKKH</p>
                    </div>
                    <!-- /설립일, 사명 끝 -->
                    <!-- 저작권자 시작 -->
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                    <!-- /저작권자 끝 -->
                </div>
            </footer>
            <!-- /footer 끝 -->
        </div>
        <!-- /메인 끝 -->
    </div>
    <!-- /전체 div 끝 -->

    <!-- 템플릿 js 시작 -->
    <script src="../../resources/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>

    <script src="../../resources/vendors/apexcharts/apexcharts.js"></script>
    <script src="../../resources/js/pages/dashboard.js"></script>

    <script src="../../resources/js/main.js"></script>
    <!-- /템플릿 js 끝 -->
</body>

</html>